@import "tailwindcss";

@theme {
  --color-primary: #3f4079;
  --color-secondary: #e74e84;
  --color-tertiary: #74d1c6;
  --color-bg: #009689;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mobile-sidebar {
  transform: translateX(-100%);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-sidebar.active {
  transform: translateX(0);
}

/* Carousel */

/* Inactive dots */
.swiper-pagination-bullet {
  background: #e74e84 !important; /* Tailwind gray-300 */
  opacity: 0.8;
}

/* Active dot */
.swiper-pagination-bullet-active {
  background: #0d9488 !important; /* Tailwind teal-600 or your brand color */
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}


